@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg);
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}
.dis{
    display: none;
}


.bx {
    color: white;
}

header img {
    width: 60px;
}

h1 {
    color: white;
    text-transform: uppercase;
}

p {
    color: rgba(255, 255, 255, .3);
}

header>div {
    text-align: center;
    /* margin: 20px 10px; */
    background-image: url("../images/home-img.jpeg");
    background-position: left;
    background-repeat: no-repeat;
    padding: 200px 10px;
    background-size: cover;
}

h1 {
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    display: inline-block;
    background-color: var(--main-color);
    margin: auto;
    padding: 10px;
}

section img {
    width: 100%;
    height: 300px;
}

section:nth-child(1) {
    text-align: center;
    /* margin: 20px 10px; */
    /* border: solid red 5px; */

}

h2 {
    color: white;
}

.alignleft {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

/* section:nth-child(3) */
.section2 {
    margin: 20px 10px;
    /*  border: solid red 5px; */
}

.ourmenuitem {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: space-around;
    border: var(--border);
    margin: 5px 0;
    padding: 10px;
    text-align: center;
}

.menupic {
    width: 30px;
    height: 30px;
}

.middleicons {
    display: flex;
    gap: 10px;
}

.middlieiconsin {
    border: var(--border);
}

.bxs-star,
.bxs-star-half {
    color: var(--main-color);

}

.midimg {
    width: 70px;
    height: 120px;
}

.round {
    border-radius: 50%;
}

.fas {
    color: var(--main-color);
}

.bott {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-around;
    border: var(--border);
    margin: 5px 0;
    padding: 10px;
    
}

iframe {
    width: 100%;
    height: 20%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;

}

.allsections {
    margin: 20px 0;
}

.helloi {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    background-color: var(--black);
    padding: 30px 20px;
}

input {
    background-color: black;
    border: var(--border);
    padding: 10px;
    width: 100%;
    padding-left: 30px;
}

.inside1 {
    position: relative;
}

.bx-user, .bx-phone, .bx-envelope {
    position: absolute;
    left: 10px;
    top: 10px;
}
.dis{

}





/* media queries  */
@media (max-width:991px) {
    /* .pc{
        display: flex;
        align-items: center;
    }
    .pc img{ width: 50%;}
    .alignleft{width: 50%;}  */
}

@media (min-width:768px) {
    /* .dis{
        display: flex;
        gap: 10px;
        color: white;
    }
    .dis p{
        color: white;
    } */
}

@media (max-width:450px) {

}